@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.page {
	max-width: 1024px;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 40px;
}

.page_gauche {
	width: 30%; 
	display: inline-block;
	vertical-align: top;
}

.page_droite {
	background-color: #b2bec3;
	width: 70%;
	display: inline-block;
	color: black;
	vertical-align: top;
	border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

/* PROFILE */
 .profile {
 	color: white;
 	text-align: center;
 	padding: 20px;
 	background-color: #2d3436;
 	border-top-left-radius: 10%;
}

.profile_photo {

}

.profile_photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile_name {
    text-transform: uppercase;
}

/* INFO */
.info {
    padding: 10px 0;
    background-color: #636e72;
    border-bottom-left-radius: 10%;
}

.info_item {
}

.info_item_title {
 	font-weight: bold;
 	text-transform: uppercase;
 	padding: 22px 20px 5px;
 	font-size: 18px;
 	color: white;
}

.info_item_content {
    color: white;
    padding: 20px;
}

/* LIST */
.list {
       
}

.list-flag {
    
}
 	
.list-flag img {
	width: 30px;
    height: 30px;
    border-radius: 50%;
}

.list-flag li {
	padding: 5px 0;
	list-style: none;
}

.list-contact li {
	list-style: none;
}

.list_title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 2px;
}

.list_content {
    padding-bottom: 2px;
}

.list_content li {

}

/* MORE */
.more {
    margin: 0 auto;
    padding: 5px;
}

.more_item {
}

.more_item_title {
	font-weight: bold;
 	text-transform: uppercase;
 	padding: 10px 40px 5px;
 	font-size: 18px;
}

.more_item_content {
    padding: 20px 40px;
}

@media screen and (max-width: 1100px) {
	.page {
	    margin-top: 0px;	
}
	.page_gauche {
		width: 100%;
		display: block;
}
	.page_droite {
		width: 100%;
		display: block;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		background-color: #636e72;
		color: white;		
}

    .profile {	
 	    border-top-left-radius: 0px;
}

    .info {
        border-bottom-left-radius: 0px;
}	
     .more_item_title {
 	    padding: 10px 10px 5px;
}
     .more_item_content {
        padding: 20px;
}